# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient()
db = client.companies
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
# Your Code
match = {"name": "Babelgum"}
list(db.companies.find(match, {"_id":0, "name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [8]:
# Your Code
query = {"number_of_employees": {"$gt" : 5000}}
a = list((db.companies.find(query, {"name":1})).limit(20))
a

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'), 'name': 'Facebook'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9b'), 'name': 'eBay'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da2'), 'name': 'Cisco'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da3'), 'name': 'Yahoo!'},
 {'_id': ObjectId('52cdef7c4bab8bd675297dba'), 'name': 'Google'},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc4'), 'name': 'Intel'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e49'), 'name': 'Nintendo'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e5d'), 'name': 'Adobe Systems'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e6f'), 'name': 'Sony'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'name': 'PayPal'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e8e'),
  'name': 'The Walt Disney Company'},
 {'_id': ObjectId('52cdef7c4bab8bd675297e96'), 'name': 'AOL'},
 {'_id': ObjectId('52cdef7c4bab8bd675297ea4'), 'name': 'Webkinz'},
 {'_id': ObjectId('52cdef7c4bab8bd675297ee9'), 'name': 'Sun Microsystems'},
 {'_id': ObjectId('52cdef7c4bab8bd675297fc2'), 'name': 'Nokia'},
 {'_id': ObjectId('52cdef7c4bab8bd675297fcb'), 'name': 'Rakuten'},
 {'_id': ObjectId('52cdef7c4bab8bd67529809d'), 'name': 'Microsoft'},
 {'_id': ObjectId('52cdef7c4bab8bd675298189'), 'name': 'Apple'},
 {'_id': ObjectId('52cdef7c4bab8bd6752981b5'), 'name': 'NetApp'},
 {'_id': ObjectId('52cdef7c4bab8bd67529821b'), 'name': 'Motorola Solutions'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [9]:
# Your Code
query3 = {'founded_year' : { '$gt' : 1999 , '$lt' : 2006 }}

c = list(db.companies.find(query3, {"_id":0,"name": 1, 'founded_year': 1}))
c[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [10]:
# Your Code
query4 = {'$and':[{"ipo.valuation_amount": {'$gt': 10000000}}, {'founded_year': {'$lt': 2010}}]}
b = list(db.companies.find(query4, {"_id":0,"name": 1, "ipo": 1}))
b[:5]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [14]:
# Your Code
query5 = {'$and':[{'number_of_employees': {'$gt': 1000}}, {'founded_year': {'$gt': 2005}}]}

c = list((db.companies.find(query5, {"_id":0,"name": 1})).sort([('number_of_employees', 1)]).limit(10))
print(c)

[{'name': 'Mobiluck'}, {'name': 'Twitter'}, {'name': 'Veeam Software'}, {'name': 'WJT Global Solutions'}, {'name': 'Spotify'}, {'name': 'Groupon'}, {'name': 'Gemalto'}, {'name': 'Thomson Reuters'}, {'name': 'Thomson Reuters'}]

### 6. All the companies that don't include the `partners` field.

In [17]:
# Your Code
d = list(db.companies.find( { 'partners': { '$exists': False } } )) #devuelve todo lo que tiene partners aunque este vacio
d_d = list(db.companies.find( { 'partners': { '$size': 0 } } ))# devuelve solo los que partner tiene algo dentro

### 7. All the companies that have a null type of value on the `category_code` field.

In [18]:
# Your Code
query7 = {'category_code': None}

e = list(db.companies.find(query7, {"_id":0}))
e[0]

{'name': 'Collective',
 'permalink': 'collective',
 'crunchbase_url': 'http://www.crunchbase.com/company/collective',
 'homepage_url': None,
 'blog_url': None,
 'blog_feed_url': None,
 'twitter_username': None,
 'category_code': None,
 'number_of_employees': None,
 'founded_year': None,
 'founded_month': None,
 'founded_day': None,
 'deadpooled_year': None,
 'deadpooled_month': None,
 'deadpooled_day': None,
 'deadpooled_url': None,
 'tag_list': None,
 'alias_list': None,
 'email_address': None,
 'phone_number': None,
 'description': None,
 'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
 'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
 'overview': None,
 'image': None,
 'products': [],
 'relationships': [],
 'competitions': [],
 'providerships': [],
 'total_money_raised': '$0',
 'funding_rounds': [],
 'investments': [],
 'acquisition': None,
 'acquisitions': [],
 'offices': [],
 'milestones': [],
 'ipo': None,
 'video_embeds': [],
 'screenshots': [],
 'external_links': [],
 'partners': []}

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [19]:
# Your Code
query8 = {'number_of_employees' : { '$gt' : 100 , '$lt' : 1000 }}

f = list(db.companies.find(query8, {"_id":0,"name": 1, 'number_of_employees': 1}))
f[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [48]:
# Your Code
query9 = {"_id": 0, "name": 1, "ipo.valuation_amount": 1}
g = list(db.companies.find({} , query9).sort("ipo.valuation_amount", -1))
g[:5]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [24]:
# Your Code
h = list(db.companies.find().sort([('number_of_employees',-1)]).limit(10))
print(h[0]['number_of_employees'])
print(h[1]['number_of_employees'])
print(h[2]['number_of_employees'])
print(h[3]['number_of_employees'])
print(h[4]['number_of_employees'])

405000
388000
320000
300000
227000

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [32]:
# Your Code
query6 =  {'founded_month': {'$gt': 5}}
e = list((db.companies.find(query6, {"_id":0, 'name':1, 'founded_month': 1})).limit(1000))
e[:5]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [35]:
# Your Code
query12 = {'$and': [{"acquisition.price_amount":  {'$gt': 1000000}},{'founded_year': {'$gt': 2000}}]}
f = list(db.companies.find(query12, {"_id":0, 'acquisition.price_amount': 1, 'founded_year': 1}))
f[:5]

[{'founded_year': 2005, 'acquisition': {'price_amount': 30000000}},
 {'founded_year': 2002, 'acquisition': {'price_amount': 29000000}},
 {'founded_year': 2005, 'acquisition': {'price_amount': 39000000}},
 {'founded_year': 2002, 'acquisition': {'price_amount': 150000000}},
 {'founded_year': 2006, 'acquisition': {'price_amount': 100000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [36]:
# Your Code
query13 = {"acquisition.acquired_year": {'$gt': 2010}}
project13 = {'name':1, 'acquisition': 1, "_id":0}
g = list(db.companies.find (query13, project13))
print(g[0]['name'])
print(g[1]['name'])
print(g[2]['name'])
print(g[3]['name'])
print(g[4]['name'])

Wetpaint
Digg
Geni
Kyte
Jingle Networks

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [37]:
# Your Code
h = list((db.companies.find({"name": 1, "founded_year": 1, "_id":0})).sort([('founded_year', 1)]))
h

[]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [38]:
# Your Code
query15 = {'founded_day': {'$lt': 8}}
i = list((db.companies.find (query15, {"_id":0})).sort([('acquisition.price_amount', -1)]).limit(10))
print(i[0]['name'])
print(i[1]['name'])
print(i[2]['name'])
print(i[3]['name'])
print(i[4]['name'])

Netscape
PayPal
Zappos
Alibaba
Postini

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [41]:
# Your Code
query16 = {'$and': [{'category_code': 'web'}, {'number_of_employees': {'$gt': 4000}}]}
k = list(db.companies.find (query16, {"_id":0, 'category_code':1, 'number_of_employees':1 }).sort('number_of_employees', 1))
k

[{'category_code': 'web', 'number_of_employees': 4400},
 {'category_code': 'web', 'number_of_employees': 8000},
 {'category_code': 'web', 'number_of_employees': 8657},
 {'category_code': 'web', 'number_of_employees': 10000},
 {'category_code': 'web', 'number_of_employees': 10000},
 {'category_code': 'web', 'number_of_employees': 10000},
 {'category_code': 'web', 'number_of_employees': 13600},
 {'category_code': 'web', 'number_of_employees': 15000},
 {'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [42]:
# Your Code
query17 = {'$and': [{"acquisition.price_currency_code": 'EUR'}, {"acquisition.price_amount": {'$gt': 10000000}}]}
l = list(db.companies.find (query17, {"_id":0}))
l[1]

{'name': 'Apertio',
 'permalink': 'apertio',
 'crunchbase_url': 'http://www.crunchbase.com/company/apertio',
 'homepage_url': 'http://www.apertio.com',
 'blog_url': '',
 'blog_feed_url': '',
 'twitter_username': None,
 'category_code': 'mobile',
 'number_of_employees': None,
 'founded_year': None,
 'founded_month': None,
 'founded_day': None,
 'deadpooled_year': None,
 'deadpooled_month': None,
 'deadpooled_day': None,
 'deadpooled_url': None,
 'tag_list': '',
 'alias_list': None,
 'email_address': '',
 'phone_number': '',
 'description': None,
 'created_at': 'Tue May 27 07:08:56 UTC 2008',
 'updated_at': 'Fri Aug 28 23:39:22 UTC 2009',
 'overview': '<p>Apertio One provides a single, open, subscriber-centric architecture for current and new generation operators. It aims to eliminate complexity and cost, dramatically reduce new service deployment time, and lay the foundation for IMS in networks.</p>',
 'image': {'available_sizes': [[[150, 41],
    'assets/images/resized/0001/9431/19431v1-max-150x150.png'],
   [[197, 54], 'assets/images/resized/0001/9431/19431v1-max-250x250.png'],
   [[197, 54], 'assets/images/resized/0001/9431/19431v1-max-450x450.png']],
  'attribution': None},
 'products': [],
 'relationships': [{'is_past': True,
   'title': 'VP Business Development',
   'person': {'first_name': 'Wolfgang',
    'last_name': 'Krause',
    'permalink': 'wolfgang-krause'}},
  {'is_past': True,
   'title': 'Non-Exec Board Director',
   'person': {'first_name': 'Cyril',
    'last_name': 'Bertrand',
    'permalink': 'cyril-bertrand'}}],
 'competitions': [],
 'providerships': [],
 'total_money_raised': '$30M',
 'funding_rounds': [{'id': 2405,
   'round_code': 'b',
   'source_url': 'http://www.apertio.com/news-and-events/press-release/1212',
   'source_description': '',
   'raised_amount': 30000000,
   'raised_currency_code': 'USD',
   'funded_year': 2006,
   'funded_month': 2,
   'funded_day': 6,
   'investments': [{'company': None,
     'financial_org': {'name': 'Add Partners', 'permalink': 'add-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Deutsche Venture Capital',
      'permalink': 'deutsche-venture-capital'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Eden Ventures', 'permalink': 'eden-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Motorola Solutions Venture Capital',
      'permalink': 'motorola-solutions-venture-capital'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'The Tokarz Group',
      'permalink': 'the-tokarz-group'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'T-Venture', 'permalink': 't-venture'},
     'person': None}]}],
 'investments': [],
 'acquisition': {'price_amount': 140000000,
  'price_currency_code': 'EUR',
  'term_code': None,
  'source_url': 'http://www.techcrunch.com/2008/01/03/nokia-siemens-acquires-apertio-for-e140m/',
  'source_description': 'Nokia Siemens Acquires Apertio For â‚¬140m',
  'acquired_year': 2008,
  'acquired_month': 1,
  'acquired_day': 3,
  'acquiring_company': {'name': 'Nokia Siemens Networks',
   'permalink': 'nokia-siemens-networks'}},
 'acquisitions': [],
 'offices': [{'description': None,
   'address1': '',
   'address2': '',
   'zip_code': 'BS16 7AR',
   'city': 'Bristol',
   'state_code': None,
   'country_code': 'GBR',
   'latitude': 51.499708,
   'longitude': -2.533334}],
 'milestones': [],
 'ipo': None,
 'video_embeds': [],
 'screenshots': [],
 'external_links': [],
 'partners': []}

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [43]:
# Your Code
query18 = {'acquisition.acquired_month': {'$lt': 3}}
project18 = {'name' : 1, 'acquisition':1, "_id":0}
m = list((db.companies.find (query18, project18)).limit(10))
m[:2]

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [47]:
# Your Code
query19 = {'$and':[{"acquisition.acquired_year": {'$lt': 2011}}, {'founded_year': { '$gt' : 1999 , '$lt' : 2010 }}]}
n = list(db.companies.find (query19, {"_id":0, "acquisition.acquired_year":1,'founded_year':1}))
n[:5]

[{'founded_year': 2002, 'acquisition': {'acquired_year': 2009}},
 {'founded_year': 2003, 'acquisition': {'acquired_year': 2009}},
 {'founded_year': 2005, 'acquisition': {'acquired_year': 2008}},
 {'founded_year': 2006, 'acquisition': {'acquired_year': 2009}},
 {'founded_year': 2002, 'acquisition': {'acquired_year': 2008}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code
y = list(db.test.companies.aggregate([{ '$project': { 'deadpooled_year': 1, 'deadpooled_year':1, 'differ': { '$subtract': [ "$deadpooled_year", "$deadpooled_year" ] } } } ] ))

In [71]:
dif = list(db.companies.aggregate( [ { '$project': {'difference': { '$subtract': [ "$deadpooled_year", "$founded_year" ] } } } ] ))
dif[5:30]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8f'), 'difference': 3},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d91'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d92'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d93'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d95'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d97'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d98'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d99'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9a'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9b'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9c'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9d'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9e'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9f'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'difference': 6},
 {'_id': ObjectId('52cdef7c4bab8bd675297da1'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da2'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da3'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da4'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da5'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da6'), 'difference': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'), 'difference': None}]

In [67]:
p = list(db.dif.find ({"difference":{'$lt': 3}}))
p

[]

In [ ]:
y hasta aqui he llegado, no sé por donde seguir...